html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  place-items: center;
  font-family: 'Poppins', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  height: 100%;
  background: #36394D;
  padding: 10px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  padding: 0px 35px;
  margin-bottom: 30px;
}

.wrapper .sidebar ul {
  list-style: none;
  padding: 0px 0px;
}    

.wrapper .sidebar ul li{
  list-style: none;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  padding: 15px 35px;
  text-decoration: none;
  color: #bdb8d7;
  display: block;
}


.wrapper .sidebar ul li a .fas{
  width: 5px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
  transition: 0.2s;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
  transition: 0.2s;
}
 
/*------header------*/

.main_content{
  width: 100%;
  margin-left: 150px;
}

.header{
  padding: 20px;
  padding-left: 60px;
  font-size: 40px;
  font-weight: bolder;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

/*------info------*/

.info{
    margin: 40px;
    margin-left: 60px;
}

.info h3{
  margin: 30px;
  margin-top: 60px;
  font-size: 25px;
  color: #717171;
  line-height: 10px;
}

.info h4{
 margin: 10px;
 margin-left: 120px;
 line-height: 10px;
 font-size: 18px;
 color: #717171;
 text-indent: 25px;
}

.info p {
 margin-left: 50px;
 line-height: 30px;
 padding-right: 180px;
 font-size: 18px;
 color: #717171;
 text-indent: 25px;
}

.info h4, info p {
 display: inline;
 line-height: 28px;    
}

.info span{
 line-height: 30px;
 font-size: 18px;
 color: #717171;
 position: static;
}
